@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-ticker {
  display: flex;
  width: max-content;
}
.animate-ticker:hover {
  animation-play-state: paused;
}
.scrollbar-hide::-webkit-scrollbar { display: none; }
.scrollbar-hide { -ms-overflow-style: none; scrollbar-width: none; }
.submenu-enter { max-height: 0; opacity: 0; overflow: hidden; transition: all 0.3s ease-in-out; }
.submenu-enter-active { max-height: 500px; opacity: 1; }
.custom-scrollbar::-webkit-scrollbar { width: 4px; }
.custom-scrollbar::-webkit-scrollbar-track { background: #f1f1f1; }
.custom-scrollbar::-webkit-scrollbar-thumb { background: #FF8C00; border-radius: 4px; }
.custom-scrollbar::-webkit-scrollbar-thumb:hover { background: #228B22; }

/* Custom utilities for EBF Theme */
body {
    background-color: #f0fdf4; /* bg-green-50 equiv */
}

.input-primary {
  @apply bg-white text-green-900 border-orange-200 focus:ring-ebf-orange focus:border-ebf-orange;
}