@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-ticker {
  display: flex;
  width: max-content;
}
.animate-ticker:hover {
  animation-play-state: paused;
}
.scrollbar-hide::-webkit-scrollbar { display: none; }
.scrollbar-hide { -ms-overflow-style: none; scrollbar-width: none; }
.submenu-enter { max-height: 0; opacity: 0; overflow: hidden; transition: all 0.3s ease-in-out; }
.submenu-enter-active { max-height: 500px; opacity: 1; }
.custom-scrollbar::-webkit-scrollbar { width: 4px; }
.custom-scrollbar::-webkit-scrollbar-track { background: #f1f1f1; }
.custom-scrollbar::-webkit-scrollbar-thumb { background: #FF8C00; border-radius: 4px; }
.custom-scrollbar::-webkit-scrollbar-thumb:hover { background: #ea580c; }

/* Custom utilities for EBF Theme */
body {
    background-color: #f9fafb; /* bg-gray-50 */
    color: #1f2937; /* text-gray-800 */
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

.input-primary {
  @apply bg-white text-gray-900 border-gray-200 focus:ring-2 focus:ring-ebf-orange focus:border-ebf-orange outline-none transition-all duration-200;
}

/* Fond moderne pour le Login - Version Light/Orange */
.bg-ebf-pattern {
  background-color: #ffff;
  background-image: radial-gradient(#FF8C00 0.5px, transparent 0.5px), radial-gradient(#e5e7eb 0.5px, transparent 0.5px);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
  position: relative;
}
.bg-ebf-pattern::before {
    content: '';
    position: absolute;
    inset: 0;
    background: radial-gradient(circle at center, transparent 0%, #fff 90%);
    pointer-events: none;
}